body { margin: 0; font-family: 'Segoe UI', sans-serif; background: #0b0b0b; color: #fff; }
header { padding: 15px; background: #111; text-align: center; border-bottom: 2px solid #9dff47; position: sticky; top:0; z-index: 100; }
h1 { font-weight: 900; margin: 0; font-size: 20px; text-transform: uppercase; }
h1 span { color: #9dff47; }

.header-top { display: flex; align-items: center; justify-content: center; position: relative; }
.menu-icon { font-size: 30px; cursor: pointer; position: absolute; left: 0; top: -5px; }

/* Side Menu */
.side-menu { height: 100%; width: 0; position: fixed; z-index: 1000; top: 0; left: 0; background: #111; overflow-x: hidden; transition: 0.3s; padding-top: 60px; }
.menu-content button { padding: 15px 20px; color: #fff; display: block; border: none; background: none; width: 100%; text-align: left; border-bottom: 1px solid #1a1a1a; font-size: 15px; }

/* Grid (2 Columns) */
.movie-grid { display: grid; grid-template-columns: repeat(2, 1fr); gap: 12px; padding: 12px; }
.movie-card { background: #1a1a1a; border-radius: 10px; overflow: hidden; border: 1px solid #222; text-align: center; }
.movie-card img { width: 100%; height: 250px; object-fit: cover; }

/* Dubbed & HD Badges */
.badge-area { padding: 10px 5px; background: #1a1a1a; }
.dubbed-badge { background: #2b4d13; color: #9dff47; padding: 4px 12px; font-size: 11px; font-weight: bold; border-radius: 4px; display: inline-block; margin-bottom: 4px; border: 1px solid #3e6d1b; }
.hd-badge { color: #f1c40f; font-size: 10px; font-weight: bold; display: block; }

.movie-info { padding: 5px 10px 10px; font-size: 13px; font-weight: bold; color: #fff; min-height: 40px; }

/* Download Buttons */
.floating-download { width: 100%; max-width: 300px; padding: 15px; background: #e50914; color: white; border: none; font-weight: 900; font-size: 16px; border-radius: 8px; margin: 15px auto 0; display: block; }
.fast-server { background: #2196F3; }

.search-box { margin: 15px; display: flex; gap: 5px; }
.search-box input { flex: 1; padding: 12px; border-radius: 5px; border: none; background: #222; color: white; }
.search-box button { background: #9dff47; color: black; border: none; padding: 10px 15px; border-radius: 5px; font-weight: bold; }
