:root { --primary-green: #9dff47; --dark-bg: #0b0b0b; --card-bg: #1a1a1a; }
body { margin: 0; font-family: sans-serif; background: var(--dark-bg); color: #fff; }
header { padding: 15px; background: #111; text-align: center; border-bottom: 2px solid var(--primary-green); position: sticky; top:0; z-index: 100; }
h1 { font-weight: 900; margin: 0; font-size: 20px; text-transform: uppercase; }
h1 span { color: var(--primary-green); }
.menu-icon { font-size: 30px; cursor: pointer; position: absolute; left: 15px; top: 12px; color: var(--primary-green); }

.side-menu { height: 100%; width: 0; position: fixed; z-index: 1001; top: 0; left: 0; background: #111; overflow-x: hidden; transition: 0.4s; border-right: 1px solid var(--primary-green); }
.menu-content { width: 280px; padding-top: 20px; }
.menu-btn { padding: 12px; color: #000; display: block; border: none; background: var(--primary-green); width: 85%; margin: 10px auto; font-weight: bold; border-radius: 5px; cursor: pointer; text-transform: uppercase; }

.search-box { margin: 15px; display: flex; gap: 8px; }
.search-box input { flex: 1; padding: 12px; border-radius: 5px; background: #222; color: white; border: 1px solid #333; }
#searchBtn { background: var(--primary-green); color: #000; border: none; padding: 10px 20px; font-weight: bold; border-radius: 5px; }

.home-nav-btn { background: transparent; color: var(--primary-green); border: 1px solid var(--primary-green); padding: 8px 20px; border-radius: 5px; font-weight: bold; margin-bottom: 5px; cursor: pointer; }

.movie-grid { display: grid; grid-template-columns: repeat(2, 1fr); gap: 12px; padding: 12px; }
.movie-card { background: var(--card-bg); border-radius: 10px; overflow: hidden; border: 1px solid #222; }
.movie-card img { width: 100%; height: 250px; object-fit: cover; }
.badge-area { padding: 10px 5px; text-align: center; }
.dubbed-badge { background: #2b4d13; color: var(--primary-green); padding: 4px 10px; font-size: 11px; font-weight: bold; border-radius: 4px; border: 1px solid #3e6d1b; display: inline-block; margin-bottom: 5px; }
.hd-badge { color: #f1c40f; font-size: 10px; font-weight: bold; display: block; }
.movie-info { padding: 5px 10px 10px; font-size: 13px; text-align: center; font-weight: bold; }

.pagination { padding: 25px; display: flex; justify-content: center; gap: 10px; }
.pagination button { background: var(--primary-green); border: none; padding: 10px 20px; font-weight: bold; border-radius: 5px; }
.floating-download { width: 90%; padding: 15px; background: #e50914; color: white; border: none; font-weight: bold; border-radius: 8px; margin: 15px auto; display: block; }
.fast-server { background: #2196F3; }
